<header class="header header--front">
  <div ref="Search" class="header__searchModal">
  </div>
  <div class="container d-flex justify-content-between align-items-center">
    <h1>
      <!-- <router-link aria-current="page" to="/"
        ><img
          class="header__logo"
          src="@/assets/images/header/fineJobLogo-white.svg"
          alt="Fine Job logo"
      /></router-link> -->
      <a>鍾狂茶館</a>
    </h1>
    <div class="header__navBox" ref="headerNavBox">
      <ul class="header__nav" ref="headerNav">
        <li class="nav-item" :class="{ active: this.navState === '首頁' }">
          <!-- <router-link class="nav-link text-white" aria-current="page" to="/">首頁</router-link> -->
          <a>首頁</a>
        </li>
        <li class="nav-item" :class="{ active: this.navState === '優質工作' }">
          <!-- <router-link class="nav-link text-white" to="/products-list">優質工作</router-link> -->
          <a>優質工作</a>
        </li>
        <li class="nav-item d-lg-block d-none">
          <button class="nav-link text-white btn" type="button" >
            搜尋
          </button>
        </li>
        <li class="nav-item" :class="{ active: this.navState === '收藏' }">
          <!-- <router-link class="nav-link text-white" to="/collection">收藏</router-link> -->
          <a>收藏</a>

        </li>
        <li class="nav-item d-lg-none d-block">
          <!-- <router-link class="nav-link text-white" to="/add-company">企業會員加入</router-link> -->
          <a>企業會員加入</a>


        </li>
        <li class="nav-item d-lg-none d-block">
          <!-- <router-link class="nav-link text-white" to="/add-job">新建職位</router-link> -->
        </li>
        <li class="nav-item company d-lg-block d-none">
          <!-- <router-link class="d-flex text-white text-decoration-none" to="/add-job">
            <div class="d-flex align-items-end position-relative">
              <p class="nav-link header__companyBtnBox">立即刊登職位！</p>
              <p class="nav-link header__companyBtnBox--sm">為您徵才</p>
            </div>
          </router-link> -->
        </li>
      </ul>
    </div>
    <div class="bgCover menuCover" ref="menuCover" ></div>
    <div class="d-flex d-lg-none">
      <div class="hamburgerMenu d-flex me-2"  ref="headerSearchIcon">
        <i class="jobIcon bi bi-search"></i>
      </div>
      <div class="hamburgerMenu d-flex" >
        <i class="jobIcon bi bi-list"></i>
      </div>
    </div>
  </div>
</header>
