<footer class="bg-gray-mid">
  <div class="footer--front">
    <div class="container">
      <div class="row py-7 justify-content-lg-between justify-content-start">
        <div class="col-lg-4 col-12">
          <div class="d-flex flex-md-row flex-column align-items-center mb-lg-0 mb-md-6 mb-4">
            <!-- <img
              class="bg-white rounded me-md-4 mb-md-0 mb-4"
              src="@/assets/images/header/fineJobMark.svg"
              alt="Find Job Mark"
            /> -->
            <div class="d-flex flex-column align-items-md-stretch align-items-center">
              <h4 class="text-white mb-md-0 mb-2">鍾狂茶館</h4>
              <a class="text-white" href="mailto:jordan.ttc.design@gmail.com"
                >andy6756@gmail.com</a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7 col-12">
          <ul class="footer__nav justify-content-lg-end flex-md-row flex-column">
            <li class="nav-item">
              <!-- <router-link class="nav-link text-white me-lg-0 me-2" to="/products-list"
                >優質工作
                <i class="text-white d-lg-none d-inline-block bi bi-arrow-right-circle"></i
              ></router-link> -->
            </li>
            <li class="nav-item">
              <!-- <router-link class="nav-link text-white me-lg-0 me-2" to="/add-company"
                >企業會員加入
                <i class="text-white d-lg-none d-inline-block bi bi-arrow-right-circle"></i
              ></router-link> -->
            </li>
            <li class="nav-item">
              <!-- <router-link class="nav-link text-white me-lg-0 me-2" to="/add-job"
                >新建職位
                <i class="text-white d-lg-none d-inline-block bi bi-arrow-right-circle"></i
              ></router-link> -->
            </li>
            <li class="nav-item">
              <!-- <router-link
                class="nav-link text-white me-lg-0 me-2"
                to="/admin/dashboard/products-list"
              >
                後台管理
                <i class="text-white d-lg-none d-inline-block bi bi-arrow-right-circle"></i
              ></router-link> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="border-top border-gray-line py-5">
      <p class="subTxt text-white text-center">© 2021 Crown Chung</p>
    </div>
  </div>
</footer>
